/*
 * Copyright (c) 2019 Peter Bigot Consulting, LLC
 *
 * SPDX-License-Identifier: Apache-2.0
 */

// The seeeduino_xiao_ble device tree file in the Zephyr version ZMK uses is incorrect.
// It uses the wrong QSPI flash driver (gd25q16) while xiao_ble uses the correct one (p25q16h).
// We must delete the current qspi node and replace it with a correctly configured one.
/delete-node/ &gd25q16;

// Delete the current storage partition since we are defining our own.
/delete-node/ &storage_partition;

&qspi {
    p25q16h: p25q16h@0 {
        compatible = "nordic,qspi-nor";
        reg = <0>;
		writeoc = "pp4o";
		readoc = "read4io";
        sck-frequency = <104000000>;
        quad-enable-requirements = "S2B1v1";
        jedec-id = [85 60 15];
        sfdp-bfp = [
            e5 20 f1 ff  ff ff ff 00  44 eb 08 6b  08 3b 80 bb
            ee ff ff ff  ff ff 00 ff  ff ff 00 ff  0c 20 0f 52
            10 d8 08 81
        ];
        size = <16777216>;
        has-dpd;
        t-enter-dpd = <3000>;
        t-exit-dpd = <8000>;

		partitions {
			compatible = "fixed-partitions";
			#address-cells = <1>;
			#size-cells = <1>;

			storage_partition: partition@0 {
				label = "storage";
				reg = <0x00000000 DT_SIZE_M(2)>;
			};
		};
    };
};

/ {
	msc_disk0 {
		compatible = "zephyr,flash-disk";
		partition = <&storage_partition>;
		disk-name = "NAND";
		cache-size = <4096>;
	};
};
